<a href="https://colab.research.google.com/github/sy07/PyDjango/blob/main/Task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task-3 of Django Internship

1. Calculate Average of 5 numbers.

In [1]:
a = int(input('Insert First Number: '))
b = int(input('Insert Second Number: '))
c = int(input('Insert Third Number: '))
d = int(input('Insert Fourth Number: '))
e = int(input('Insert Fifth Number: '))
sum = a + b + c + d + e
avg=sum/5
print("Sum is ",sum)
print("Average is ",avg)

Insert First Number: 12
Insert Second Number: 43
Insert Third Number: 15
Insert Fourth Number: 76
Insert Fifth Number: 89
Sum is  235
Average is  47.0

2.Check whether number is even or odd

In [4]:
num = int(input('Insert number: '))
if num % 2 == 0:
    print("number is even")
else:
    print("number is odd")

Insert number: 4
number is even

3. Take a year and check whether it is leap year or not.

In [5]:
qwe = int(input('Insert year: '))
if (( qwe % 400 == 0)or (( qwe % 4 == 0 ) and ( qwe != 0))):
    print("%d is a Leap Year" % qwe)
else:
    print("%d is Not the Leap Year" % qwe)

Insert year: 2023
2023 is Not the Leap Year

4. Take a number and check whether it is zero, positive or negative.

In [6]:
num1 = int(input('Insert number: '))
if num1 >= 0:
    if num1 == 0:
        print("number is zero")
    else:
        print("number is positive")
else:
    print("number is negative")

Insert number: 12
number is positive

5. Take 2 numbers and display greatest number. (Also check equal number condition)

In [8]:
num1 = int(input('Insert First Number: '))
num2 = int(input('Insert Second Number: '))
if num1 > num2:
    print(f"{num1} is greater than {num2}")
elif num1 == num2:
    print(f"{num1} and {num2} are equal")
else:
    print(f"{num2} is greater than {num1}")

Insert First Number: 45
Insert Second Number: 98
98 is greater than 45

6. Take a number and find factorial of that number.

In [9]:
asd = int(input("Enter number:"))
fact=1
while(asd > 0):
    fact = fact * asd
    asd = asd - 1
print("Factorial of the number is: ",fact)

Enter number:7
Factorial of the number is:  5040

7. Write a program to swap 2 numbers using third variable.

In [10]:
num1 = int(input("please give first number a: "))
num2 = int(input("please give second number b: "))
temp = num1
num1 = num2
num2 = temp
print("After swapping")
print("value of a is : ",num1)
print("value of b is : ",num2)

please give first number a: 69
please give second number b: 59
After swapping
value of a is :  59
value of b is :  69

8. Take 2 numbers and find smallest number.

In [11]:
mark1 = int(input('Insert First Number: '))
mark2 = int(input('Insert Second Number: '))

if mark1 == mark2:
    print('Both value is same')
elif mark1 < mark2:
    print(f'{mark1} is the smallest Number')
else:
    print(f'{mark2} is the smallest Number')

Insert First Number: 59
Insert Second Number: 99
59 is the smallest Number

9. Take a number check if a number is less than 100 or not. If it is less than 100 then check if it is odd or even

In [13]:
num3 = int(input('Insert a number: '))

if num3 < 100:
    print(f'{num3} is less than 100')
else:
    print(f'{num3} is greater than 100')
    
if num3 < 100:
    if num3 % 2 == 0:
        print(f"{num3} is even number")
    else:
        print(f"{num3} is odd number")

Insert a number: 101
101 is greater than 100

10. Take a number to print the square of a number if it is less than 10.

In [14]:
num4 = int(input('Insert a number: '))
square = num4 * num4
if num4 < 10:
    print(f'Square of {num4} is {square}')
else:
    print(f'{num4} is greater than 10')

Insert a number: 5
Square of 5 is 25

11.Take a number and check whether it is zero, positive or negative using nested IF…ELSE statement .

In [15]:
num5 = int(input('Insert a number: '))
if num5 >= 0:
    if num5 == 0:
        print("number is zero")
    else:
        print("number is positive")
else:
    print("number is negative")

Insert a number: -007
number is negative

12. Take 3 numbers and find greatest number using nested IF….ELSE statement.

In [16]:
abc1 = int(input('Insert First Number: '))
abc2 = int(input('Insert Second Number: '))
abc3 = int(input('Insert Third Number: '))

if (abc1 > abc2 ) and (abc1 > abc3):
   largest = abc1
elif (abc2 > abc1) and (abc2 > abc3):
   largest = abc2
else:
   largest = abc3
 
print("The largest number is",largest)

Insert First Number: 23
Insert Second Number: 47
Insert Third Number: 10
The largest number is 47

13. Take 3 numbers and find smallest number using logical operator.

In [17]:
num_1 = int(input('Insert First Number: '))
num_2 = int(input('Insert Second Number: '))
num_3 = int(input('Insert Third Number: '))

if(num_1 <= num_2 and num_1 <= num_3):
  print(num_1," is the smallest")
elif(num_2 <= num_1 and num_2 <= num_3):
  print(num_2," is the smallest")
else:
    print(num_3," is the smallest")

Insert First Number: 59
Insert Second Number: 56
Insert Third Number: 99
56  is the smallest

14. Write a program to swap 2 numbers without taking third variable.

In [19]:
zxc1 = int(input('Insert First Number: '))
zxc2 = int(input('Insert Second Number: '))

print ("Before swapping: ")
print("Value of x : ",zxc1, " and y : ",zxc2)

zxc1, zxc2 = zxc2, zxc1

print ("After swapping: ")
print("Value of x : ", zxc1, " and y : ", zxc2)

Insert First Number: 56
Insert Second Number: 59
Before swapping:
Value of x :  56  and y :  59
After swapping:
Value of x :  59  and y :  56

15. Take starting number and ending number from the user and print following series.
Starting number: 30 & Ending Number: 0
30,27,24,18,15,12,9,6,3,0

In [21]:
zxc = int(input('Starting Number: '))
bnm = int(input('Ending Number: '))

for i in range(zxc,bnm - 1,-1):
    if i%3==0:
        print(i)

Starting Number: 30
Ending Number: 0
30
27
24
21
18
15
12
9
6
3
0